<!--
项目二组  鲍康
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
  <script type="text/javascript" src="/lib/html5shiv.js"></script>
  <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
  <script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
  <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>保险列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 保险管理 <span class="c-gray en">&gt;</span> 保险列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">

       <#-- <span class="select-box inline">
		<select name="" class="select">
			<option value="0">全部分类</option>
			<option value="1">分类一</option>
			<option value="2">分类二</option>
		</select>
		</span> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
       --> <#--<input type="text" name="" id="" placeholder=" 保险名称" style="width:250px" class="input-text">-->
       <#-- <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe63c;</i> &nbsp;保&nbsp;险&nbsp;管&nbsp;理&nbsp;</button>-->
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
        <span class="r">共有数据：<strong>${count}</strong> 条</span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="90">ID</th>
                <th width="400">保险名称</th>
                <th width="100">保险类型</th>
                <th width="120">最大保额</th>
                <th width="180">更新时间</th>
                <th width="120">保险基础价</th>
                <th width="100">保险状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <#list list as c>
            <tr class="text-c">
                <td><input type="checkbox" value="" name=""></td>
                <td>${c.ci_id}</td>
                <td class="text-l">${c.ci_name}</td>
                <td>${c.ci_type}</td>
                <td>${c.maxmoney?string.currency}元</td>
                <td>${c.ci_addtime?string('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${c.ci_money?string.currency}元</td>
                <#if (c.ci_state==1)>
                     <td class="td-status"><span class="label label-success radius">已发布</span></td>
                <#elseif (c.ci_state==2)>
                     <td class="td-status"><span class="label label-danger radius">待发布</span></td>
                <#else>
                     <td class="td-status"><span class="label label-defaunt radius">待审核</span></td>
                </#if>


                <td class="f-14 td-manage">
                    <#if UsersPower?index_of("保险上架下架")!=-1>
                        <#if (c.ci_state==1)>
                            <a style="text-decoration:none" onClick="article_stop(this,'${c.ci_id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
                        <#elseif (c.ci_state==2)>
                            <a style="text-decoration:none" onClick="article_start(this,'${c.ci_id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
                        <#else >
                            <a style="text-decoration:none" onclick="article_abb(this,'${c.ci_id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe63c;</i></a>
                        </#if>
                    <#else>
                        <span class="label label-danger radius">没有权限</span>
                    </#if>

                </td>
            </tr>
            </#list>
           <#-- <tr class="text-c">
                <td><input type="checkbox" value="" name=""></td>
                <td>10002</td>
                <td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article-zhang.html','10002')" title="查看">资讯标题2</u></td>
                <td>行业动态</td>
                <td>H-ui</td>
                <td>2014-6-11 11:11:42</td>
                <td>21212</td>
                <td class="td-status"><span class="label label-success radius">草稿</span></td>
                <td class="f-14 td-manage"><a style="text-decoration:none" onClick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a> &lt;#&ndash;<a style="text-decoration:none" class="ml-5" onClick="article_edit('资讯编辑','article-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>&ndash;&gt;</td>
            </tr>-->
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
        ]
    });

    /*/!*资讯-添加*!/
    function article_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /!*资讯-编辑*!/
    function article_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /!*资讯-删除*!/
    function article_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /!*资讯-审核*!/
    function article_shenhe(obj,id){
        layer.confirm('审核文章？', {
                    btn: ['通过','不通过','取消'],
                    shade: false,
                    closeBtn: 0
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg('已发布', {icon:6,time:1000});
                },
                function(){
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                    $(obj).remove();
                    layer.msg('未通过', {icon:5,time:1000});
                });
    }*/
    /*资讯-下架*/
    function article_stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '/baoxian/editStates.do',
                data:{
                    "ci_id":id,
                    "ci_state":2,
                },
                dataType: 'json',
                success: function(data) {

                    if (data.ed==1) {
                        $(obj).parents("tr").find(".td-manage").prepend("<a style='text-decoration:none' onClick='article_start(this,"+id+")' href='javascript:;' title='发布'><i class='Hui-iconfont'>&#xe603;</i></a>");
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">待发布</span>');
                        $(obj).remove();
                        layer.msg('已下架!', {icon: 5, time: 1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });

        });
    }

    /*资讯-发布*/
    function article_start(obj,id){
        layer.confirm('确认要发布吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '/baoxian/editStates.do',
                data:{
                    "ci_id":id,
                    "ci_state":1,
                },
                dataType: 'json',
                success: function(data) {

                    if (data.ed==1) {

                        $(obj).parents("tr").find(".td-manage").prepend("<a style='text-decoration:none' onClick='article_stop(this,"+id+")' href='javascript:;' title='下架'><i class='Hui-iconfont'>&#xe6de;</i></a>");
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                        $(obj).remove();
                        layer.msg('已发布!',{icon: 6,time:1000});
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }



    /*
    /!*资讯-申请上线*!/
    function article_shenqing(obj,id){
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
    }
*/

    function article_abb(obj,id){


            layer.msg('请先去审核!',{icon: 7,time:1000});

    }
</script>
</body>
</html>