
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <!--<script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>-->
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/static/h-ui/css/H-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/h-ui/css/H-ui.min.css"/>
    <#--<link type="text/css" rel="stylesheet" href="font/font-awesome.min.css"/>-->
    <!--[if IE 7]>
    <!--<link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />-->
    <![endif]-->
    <title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
    <img class="avatar avatar-XL l" src="/layui/images/face/0.gif">
    <dl style="margin-left:80px; color:#fff">
        <dt><span class="f-18">安康保险</span> <span class="pl-10 f-12">我们一份安心的生命保证。</span></dt>
        <dd class="pt-10 f-12" style="margin-left:0">这里是汽车保险的详细信息哦！</dd>
    </dl>
</div>
<div class="pd-20">
    <table class="table">
        <tbody>
        <tr>
            <th class="text-r"  style="color:#5bacb6 ;font-size: 22px ">&nbsp;&nbsp;保险名称：</th>
            <td>${baoxianlist.ci_name}</td>
        </tr>
        <tr>
            <th class="text-r" style="color:#5bacb6;font-size: 22px">&nbsp;&nbsp;保险类型：</th>
            <td>${baoxianlist.ci_type}</td>
        </tr>
        <tr>
            <th class="text-r" style="color:#5bacb6;font-size: 22px">&nbsp;&nbsp;赔付费率：</th>
            <td>${baoxianlist.comp_rate}</td>
        </tr>
        <tr>
            <th class="text-r" style="color:#5bacb6;font-size: 22px">&nbsp;&nbsp;最大保额：</th>
            <td>${baoxianlist.maxmoney}</td>
        </tr>
        <tr>
            <th class="text-r" style="color:#5bacb6;font-size: 22px">保险基础价：</th>
            <td>${baoxianlist.ci_money}</td>
        </tr>
        <tr>
            <th class="text-r" style="color:#5bacb6;font-size: 22px">&nbsp;&nbsp;保费费率：</th>
            <td>${baoxianlist.ins_rale}</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>