<!--
项目二组  鲍康
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
  <script type="text/javascript" src="/lib/html5shiv.js"></script>
  <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
  <script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
  <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>车辆信息管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<#--    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="removeIframe()" class="btn btn-primary radius">
                <#--<i class="Hui-iconfont">&#xe6e2;</i>-->
                关闭选项卡</a>
       <#if UsersPower?index_of("修改车辆")!=-1>
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>

       </#if>
        </span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="100">车牌编号</th>
                <th width="100">用户名</th>
                <th width="70">车辆颜色</th>
                <th width="90">车辆类型</th>
                <th width="150">车辆品牌</th>
                <th width="">车辆图片</th>
                <th width="130">排量大小</th>
                <th width="130">座位个数</th>
                <th width="130">车辆价格</th>
                <th width="130">出险次数</th>
                <th width="70">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <#list carslist as car>
            <tr class="text-c" >
                <td><input type="checkbox" name="caritem" value="${car.c_id}" name=""></td>
                <td>${car.c_id}</td>
                <td>${car.users.u_name}</td>
                <td>${car.c_color}</td>
                <td>${car.c_type}</td>
                <td>${car.c_brand}</td>
                <td><img style="width:200px;height: 80px;" src="/uploadsFile/${car.c_pic}"></td>
                <td>${car.c_enginesize}</td>
                <td>${car.seatnum}座</td>
                <td>${car.c_price?string.currency}元</td>
                <td>${car.chuxian_num}次</td>

                <#if (car.c_state==1)>
                    <td class="td-status"><span class="label label-success radius">已启用</span></td>
                <#elseif (car.c_state==0)>
                    <td class="td-status"><span class="label label-defaunt radius">待审核</span></td>
                <#else>
                    <td class="td-status"><span class="label label-danger radius">已停用</span></td>
                </#if>
                <td class="td-manage">
                <#if UsersPower?index_of("修改车辆")!=-1>
                    <a style="text-decoration:none" class="ml-5" onClick="change_password('修改车牌','/yonghu/tocar-edit.do?c_id=${car.c_id}','10001','600','270')" href="javascript:;" title="修改车牌"><i class="Hui-iconfont">&#xe63f;</i></a>
                <#else>
                    <span class="label label-danger radius">没有权限</span>
                </#if>
                <#if UsersPower?index_of("修改车辆")!=-1>
                    <a title="删除" href="javascript:;" onclick="member_del(this,'${car.c_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                <#else>
                    <span class="label label-danger radius">没有权限</span>
                </#if>
            </tr>
            </#list>
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
            ]
        });

    });
    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    var datadel = function(){

        //判断选择项是否为空
        var checkedNum = $("input[name='caritem']:checked").length;
        if(checkedNum==0){
            layer.msg('请选中要删除的列表项!',{icon: 5,time:1000});
            return;
        }
        //获取选择项的值
        var checkedVal = [];
        var index=-1;
        $("input[name='caritem']:checked").each(function(){
            index++;
            checkedVal[index]=$(this).val();

        });

        var itemsTipStr = "这条记录";
        if(checkedNum>1){
            itemsTipStr = "这些选项";
        }

       // alert(JSON.stringify(checkedVal))
        layer.confirm('确认要删除'+itemsTipStr+'吗？',function(){
            layer.closeAll('dialog');

            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                type: "POST",
                url: "/yonghu1/delcar.do",
                data: JSON.stringify(checkedVal),
                contentType: 'application/json',
                success: function(msg){
                     var index=0;
                       // var inde = checkedVal.split(',');
                        //alert(inde)
                        $("input[name='caritem']:checked").each(function(){
                           // alert($(this).val()==inde[index])
                            if($(this).val()==checkedVal[index]){
                                $(this).parents("tr").remove();
                                index++;
                            }
                            //window.location.reload();
                          });
                    layer.msg('已删除!',{icon: 1,time:1000});

                },
                error:function(){
                    layer.msg('其中存在投保车辆，不能删除',{icon: 6,time:1000});
                    //alert(2)
                }
            });



        });


    }

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                    $(obj).remove();
                    layer.msg('已停用!',{icon: 5,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*用户-启用*/
    function member_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                    $(obj).remove();
                    layer.msg('已启用!',{icon: 6,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
    /*用户-编辑*/
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-删除*/
    function member_del(obj,id){
        var checkedVal=[id]
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '/yonghu1/delcar.do',
                data: JSON.stringify(checkedVal),
                contentType: 'application/json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    layer.msg('其中存在投保车辆，不能删除',{icon: 6,time:1000});
                },
            });
        });
    }
</script>
</body>
</html>